html{
  background-image: <"https://i.pinimg.com/564x/1b/ba/1b/1bba1bc104a9cb6fa94d14005ed5f8e6.jpg">
  padding: 100%;
  
}
h1 {
  padding: 30px;
        color: white;
       text-aling: center ;
      font-family: 'Cormorant SC', serif;
     font-size: 70px;
     border: 1px solid black;
      margin: 5px 5px 5px 5px;
      background-color: #C0392B;
}

h2{
  color: #2c2c2b  ;
  font-family: 'Aleo', serif;
}
 h3{
   color: black;
   font-size: 26px;
 }

p{
  font-size: 20px
}
hi{
  font-size: 20px
}
textarea {
  border: 5px inset #2c2c2b  ;
 margin: 2em 4em 3em 2em;
  width: 400px;
}
input{
  border: 5px inset #2c2c2b;  ;
 margin: 2em 4em 3em 2em;
 width: 50px;

}

img {
  margin-left: 45%;
  width: 10%;
}
button {
  background-color: #C0392B ;
  border: inset black;
  color: black;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
